<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link type="stylesheet" rel="/static/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            {% for item in items %}
                <p>{{ item }}</p>
            {% end %}
        </div>
        <hr/>
        <div>
            <label for="url">Socket URL</label>
            <input type="text" id="url" value="ws://localhost:8000/ws"/>
            <button onclick="onOpen()">Cennect</button>
            <button onclick="onClose()">Discennect</button>
            <hr/>
            <label for="msg">Message</label>
            <input type="text" id="msg" value="hi"/>
            <button onclick="onSend()">Send</button>
            <hr/>
            <textarea id="result" style="width:300px;height:300px;"></textarea>
        </div>

        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            var ws;
            
            var store = {};
            Object.defineProperty(store, 'content',{
                set: function(val){
                    this._content = val;
                    document.getElementById("result").value = val;
                },
                get: function(){
                    return this._content;
                }
            })

            function onOpen(){
                var url = document.getElementById("url").value;
                if( 'WebSocket' in window ){
                    ws = new WebSocket(url);                    
                }else if( 'MozWebSocket' in window ){
                    ws = new MozWebSocket(url);  
                }

                ws.onopen = function(evt){
                    store.content = 'Connected\n';
                }
                ws.onmessage = function(evt){
                    store.content += evt.data + '\n';
                }
                ws.onerror = function(evt){
                    store.content += 'Error: ' + evt.data + '\n';
                }
                ws.onclose = function(evt){
                    store.content += 'Disconnected \n'; 
                }
            }

            function onClose(){
                ws.close();
            }

            function onSend(){
                ws.send(document.getElementById("msg").value);
            }
        </script>
    </body>
</html>